Repository jeonghoyeo7/squad, changes with the labels that .github/labeler.yml gives for each.
All labels: x/claim, x/farming, x/liquidity, x/liquidstaking, x/liquidfarming, x/mint, x/marketmaker, c-sync, documentation, build, ci

.github/labeler.yml:

"x/claim":
  - x/claim/**/*
"x/farming":
  - x/farming/**/*
"x/liquidity":
  - x/liquidity/**/*
"x/liquidstaking":
  - x/liquidstaking/**/*
"x/liquidfarming":
  - x/liquidfarming/**/*
"x/mint":
  - x/mint/**/*
"x/marketmaker":
  - x/marketmaker/**/*
"c-sync":
  - x/claim/**/*
  - x/farming/**/*
  - x/liquidity/**/*
  - x/liquidstaking/**/*
  - x/mint/**/*
  - x/marketmaker/**/*
  - docs/**/*
  - Makefile
"documentation":
  - docs/**/*
"build":
  - Makefile
  - scripts/*
"ci":
  - buf.yaml
  - .golangci.yml

feat: remove hooks in farming and liquidfarming modules as they are not needed anymore
  app/app.go
  x/farming/keeper/hooks.go
  x/farming/keeper/hooks_test.go
  x/farming/keeper/internal_test.go
  x/farming/keeper/keeper.go
  x/farming/keeper/reward.go
  x/farming/types/expected_keepers.go
  x/farming/types/hooks.go
  x/liquidfarming/keeper/hooks.go
  x/liquidfarming/spec/03_state_transitions.md
  x/liquidfarming/spec/08_hooks.md
  x/liquidfarming/spec/README.md
Labels: x/farming, x/liquidfarming, c-sync

feat: change names from Farm and Unfarm to LiquidFarm and LiquidUnfarm
  proto/squad/liquidfarming/v1beta1/tx.proto
  x/liquidfarming/handler.go
  x/liquidfarming/keeper/keeper_test.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/keeper/liquidfarm_test.go
  x/liquidfarming/keeper/msg_server.go
  x/liquidfarming/types/codec.go
  x/liquidfarming/types/expected_keepers.go
  x/liquidfarming/types/msgs.go
  x/liquidfarming/types/msgs_test.go
  x/liquidfarming/types/tx.pb.go
Labels: x/liquidfarming

test: add tests for types package
  proto/squad/farm/v1beta1/farm.proto
  types/utils.go
  x/farm/client/cli/tx.go
  x/farm/keeper/farm_test.go
  x/farm/types/farm.pb.go
  x/farm/types/genesis.go
  x/farm/types/genesis.pb.go
  x/farm/types/genesis_test.go
  x/farm/types/msgs.go
  x/farm/types/msgs_test.go
  x/farm/types/params.go
  x/farm/types/params_test.go
  x/farm/types/plan.go
  x/farm/types/plan_test.go
  x/farm/types/util.go
  x/farm/types/util_test.go
Labels: none

feat: switch farming module to farm module and update with new functions
  app/app.go
  proto/squad/liquidfarming/v1beta1/query.proto
  x/farm/types/genesis.pb.go
  x/liquidfarming/client/cli/tx.go
  x/liquidfarming/client/testutil/helpers.go
  x/liquidfarming/client/testutil/suite.go
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/grpc_query.go
  x/liquidfarming/keeper/grpc_query_test.go
  x/liquidfarming/keeper/keeper.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/types/expected_keepers.go
  x/liquidfarming/types/liquidfarm.go
  x/liquidfarming/types/liquidfarm_test.go
  x/liquidfarming/types/query.pb.go
Labels: x/liquidfarming

feat: add auction period hours
  proto/squad/liquidfarming/v1beta1/params.proto
  x/liquidfarming/abci.go
  x/liquidfarming/types/params.go
  x/liquidfarming/types/params.pb.go
Labels: x/liquidfarming

fix: remove underscores in ParseDec
  types/utils.go
Labels: none

feat: terminate ended plas and change pool reward weight function
  x/farm/abci.go
  x/farm/keeper/genesis_test.go
  x/farm/keeper/grpc_query_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/keeper/util.go
  x/farm/types/plan.go
  x/farm/types/util.go
  x/farm/types/util_test.go
Labels: none

refactor!: `Rewards` returns current withdrawable rewards
  .pre-commit-config.yaml
  x/farm/keeper/farm.go
  x/farm/keeper/keeper_test.go
Labels: none

fix: wrap `PoolRewardWeight` with `SafeMath` to prevent overflow panic
  x/farm/types/util.go
Labels: none

test: add genesis tests
  x/farm/keeper/genesis.go
  x/farm/keeper/genesis_test.go
  x/farm/types/msgs.go
Labels: none

feat: updating RewardsAuction creation
  x/liquidfarming/abci.go
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/keeper_test.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/keeper/store.go
  x/liquidfarming/types/expected_keepers.go
  x/liquidfarming/types/keys.go
  x/liquidfarming/types/liquidfarm.go
Labels: x/liquidfarming
