Repository jeonghoyeo7/squad, changes with the labels that .github/labeler.yml gives for each.
All labels: x/claim, x/farming, x/liquidity, x/liquidstaking, x/liquidfarming, x/mint, x/marketmaker, x/farm, c-sync, documentation, build, ci

fix: change default addresses' type to `sdk.AccAddress`
  x/farm/types/params.go
Labels: x/farm, c-sync

docs: organize table of contents and make them having same format
  docs/api/claim.md
  docs/api/farming.md
  docs/api/liquidfarming.md
  docs/api/liquidity.md
  docs/api/liquidstaking.md
  docs/api/marketmaker.md
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidfarming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
Labels: c-sync, documentation

fix: fix bug in `AllocateRewards` and add submit-proposal cmd
  app/app.go
  x/farm/client/cli/tx.go
  x/farm/client/cli/util.go
  x/farm/client/proposal_handler.go
  x/farm/client/rest/rest.go
  x/farm/keeper/keeper_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
Labels: x/farm, c-sync

fix: fix cli example usages
  x/farm/client/cli/tx.go
  x/farm/client/cli/util_test.go
Labels: x/farm, c-sync

docs: add docs for the farm module
  docs/api/farm.md
  docs/cli/farm.md
Labels: c-sync, documentation

test: add more tests
  x/farm/keeper/farm_test.go
Labels: x/farm, c-sync

fix: apply code review suggestions
  docs/api/farm.md
  docs/cli/farm.md
  x/farm/client/cli/tx.go
Labels: x/farm, c-sync, documentation

docs: fix LiquidFarm param
  x/liquidfarming/spec/07_params.md
Labels: x/liquidfarming, c-sync

docs: update farm api docs
  docs/api/farm.md
Labels: c-sync, documentation

feat: add fee collector in params
  proto/squad/liquidfarming/v1beta1/params.proto
  x/liquidfarming/types/params.go
  x/liquidfarming/types/params.pb.go
Labels: x/liquidfarming, c-sync

test: add new params test cases
  x/liquidfarming/types/params_test.go
Labels: x/liquidfarming, c-sync

chore: update spec docs, fix markdown broken link, and add fee collector param in simulation
  .github/PULL_REQUEST_TEMPLATE.md
  docs/api/liquidfarming.md
  x/liquidfarming/keeper/store.go
  x/liquidfarming/simulation/genesis.go
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/spec/07_params.md
Labels: x/liquidfarming, c-sync, documentation

fix: fix broken test case
  x/liquidfarming/simulation/genesis_test.go
Labels: x/liquidfarming, c-sync

feat: `RewardAllocation` can specify target denom
  proto/squad/farm/v1beta1/farm.proto
  x/farm/client/cli/tx.go
  x/farm/keeper/farm_test.go
  x/farm/keeper/genesis_test.go
  x/farm/keeper/invariants_test.go
  x/farm/keeper/keeper_test.go
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/keeper/proposal_handler_test.go
  x/farm/keeper/util.go
  x/farm/simulation/decoder_test.go
  x/farm/simulation/operations.go
  x/farm/simulation/operations_test.go
  x/farm/types/farm.pb.go
  x/farm/types/genesis_test.go
  x/farm/types/msgs_test.go
  x/farm/types/plan.go
  x/farm/types/plan_test.go
Labels: x/farm, c-sync

fix: remove accidentally added LiquidFarm struct
  x/liquidfarming/keeper/store.go
Labels: x/liquidfarming, c-sync

docs: revise docs to reflect changes in reward allocation
  docs/api/farm.md
  docs/cli/farm.md
  x/farm/client/cli/tx.go
  x/farm/client/cli/util_test.go
  x/farm/keeper/plan_test.go
  x/farm/spec/02_state.md
  x/farm/spec/03_messages.md
Labels: x/farm, c-sync, documentation

fix: apply dragonberry patch
  go.mod
  go.sum
  ics23/.gitignore
  ics23/Makefile
  ics23/compress.go
  ics23/go.mod
  ics23/go.sum
  ics23/ics23.go
  ics23/ops.go
  ics23/proof.go
  ics23/proofs.pb.go
Labels: none

docs: fix broken links
  .github/PULL_REQUEST_TEMPLATE.md
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
Labels: x/farming, c-sync

build: bump gogo/protobuf to v1.2.3
  ics23/go.mod
  ics23/go.sum
Labels: none

chore: bump SDK to v0.45.9 and remove its own ics23 package and use c… (#377)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  README.md
  app/state.go
  contrib/devtools/Makefile
  go.mod
  go.sum
  ics23/.gitignore
  ics23/Makefile
  ics23/compress.go
  ics23/go.mod
  ics23/go.sum
  ics23/ics23.go
  ics23/ops.go
  ics23/proof.go
  ics23/proofs.pb.go
  tools/tools.go
  x/farming/client/cli/utils.go
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
  x/liquidity/amm/match.go
Labels: x/farming, x/liquidity, c-sync, build

fix: lower the highest tick boundary for extra safety
  x/liquidity/amm/tick.go
  x/liquidity/amm/tick_test.go
Labels: x/liquidity, c-sync

docs: update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore: bump SDK to v0.45.9 and remove its own ics23 package and use c… (#377)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  README.md
  app/state.go
  contrib/devtools/Makefile
  go.mod
  go.sum
  tools/tools.go
  x/farm/client/cli/util.go
  x/farming/client/cli/utils.go
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
  x/liquidity/amm/match.go
  x/marketmaker/client/cli/utils.go
Labels: x/farming, x/liquidity, x/marketmaker, x/farm, c-sync, build

fix: lower the highest tick boundary for extra safety
  x/liquidity/amm/tick.go
  x/liquidity/amm/tick_test.go
Labels: x/liquidity, c-sync

docs: resolve conflicts
  x/farming/spec/04_messages.md
Labels: x/farming, c-sync

fix: use `strings.Cut`
  go.mod
  go.sum
  x/farm/client/cli/tx.go
Labels: x/farm, c-sync

fix: public farming plan must have same farming pool/termination address
  x/farm/keeper/plan.go
  x/farm/keeper/proposal_handler_test.go
  x/farm/types/plan.go
  x/farm/types/plan_test.go
Labels: x/farm, c-sync

feat: disable x/farming handlers and prepare for the deprecation
  x/farming/handler.go
  x/farming/handler_test.go
  x/farming/keeper/epoch.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/plan.go
  x/farming/keeper/plan_test.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/module.go
  x/farming/module_test.go
  x/farming/types/errors.go
Labels: x/farming, c-sync

fix: fix simulation parameters range
  x/liquidity/simulation/genesis.go
Labels: x/liquidity, c-sync

test: fix test cases
  x/liquidity/simulation/params_test.go
Labels: x/liquidity, c-sync

fix: check if farmer exists when allocating rewards to target denom
  x/farm/keeper/plan.go
  x/farm/keeper/plan_test.go
  x/farm/keeper/util.go
Labels: x/farm, c-sync

feat: check if the target denom has positive supply
  x/farm/keeper/plan.go
  x/farm/types/expected_keepers.go
Labels: x/farm, c-sync

refactor!: rename `AllRewards` to `TotalRewards`
  docs/api/farm.md
  docs/cli/farm.md
  proto/squad/farm/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/genesis.proto
  proto/squad/liquidfarming/v1beta1/liquidfarming.proto
  proto/squad/liquidfarming/v1beta1/params.proto
  proto/squad/liquidfarming/v1beta1/query.proto
  proto/squad/liquidfarming/v1beta1/tx.proto
  x/farm/client/cli/query.go
  x/farm/keeper/farm.go
  x/farm/keeper/grpc_query.go
  x/farm/keeper/grpc_query_test.go
  x/farm/keeper/plan_test.go
  x/farm/types/query.pb.go
  x/farm/types/query.pb.gw.go
Labels: x/farm, c-sync, documentation

feat: skip rewards allocation if block duration is 0
  x/farm/keeper/plan.go
Labels: x/farm, c-sync

.github/labeler.yml:

"x/claim":
  - x/claim/**/*
"x/farming":
  - x/farming/**/*
"x/liquidity":
  - x/liquidity/**/*
"x/liquidstaking":
  - x/liquidstaking/**/*
"x/liquidfarming":
  - x/liquidfarming/**/*
"x/mint":
  - x/mint/**/*
"x/marketmaker":
  - x/marketmaker/**/*
"x/farm":
  - x/farm/**/*
"c-sync":
  - x/claim/**/*
  - x/farming/**/*
  - x/liquidity/**/*
  - x/liquidstaking/**/*
  - x/mint/**/*
  - x/marketmaker/**/*
  - x/farm/**/*
  - x/liquidfarming/**/*
  - docs/**/*
  - Makefile
"documentation":
  - docs/**/*
"build":
  - Makefile
  - scripts/*
"ci":
  - buf.yaml
  - .golangci.yml
